---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Initial Commit" description="Initial Commit">
  <div class="text-5xl font-bold bg-red-500 p-8">Initial Commit With Tailwind</div>
</Layout>
