<section class="fixed pointer-events-none flex items-center justify-center w-full h-screen z-50 opacity-10 ">
    <img src="/assets/images/decals/crt-overlay.png" alt="overlay" class="w-full h-full object-cover object-center">
</section>