<section class="w-full bg-black text-white text-center py-3">
  <a class="font-display text-5xl lg:text-9xl text-center" href="/cyberer-website/">CYBERERA</a>
  <div>
    <span>Copright &copy; 2023 - Created By <a href="https://bborasen.com">BORA</a></span>
  </div>
</section>
